*,
*::before,
*::after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Conv';
	src: url('fonts/19167.eot');
	src: local('☺'), url('fonts/19167.woff') format('woff'), url('fonts/19167.ttf') format('truetype'), url('fonts/19167.svg') format('svg');
}

body {
	background-color: #f2f2f2;
	font-family: 'Conv';
	height: auto;
	max-width: 100%;
}

.content {
	width: 950px;
	margin: 0 auto;
	padding-left: 3%;
	padding-right: 3%;
}

header {
	position: fixed;
	display: flex;
	width: 100%;
	height: 70px;
	padding: 0 2% 0 1%;
	background-color: hsl(40, 100%, 50%);
	justify-content: space-between;
	flex-flow: row wrap;
}

#header-img {
	display: flex;
	max-width: 40%;
	height: 50px;
	align-self: center;
	border-bottom: 2px solid white;
}

#nav-bar {
	display: flex;
	flex-flow: row wrap;
	max-width: 500px;
	align-items: center;
}

li {
	list-style-type: none;
	padding-left: 10px;
	font-size: 16px;
}

li:hover {
	transform: scale(1.1);
}

.nav-link {
	text-decoration: none;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	background-color: white;
	padding: 15px 10px;
}

.nav-link:hover {
	background-color: hsl(77, 100%, 50%);
}

.content {
	flex: 1 0 auto;
}

#form {
	display: flex;
	flex-direction: column;
	max-width: ;
	align-items: center;
	padding-top: 15%;
}

#form label {
	display: flex;
	flex-flow: row nowrap;
	font-size: 25px;
	font-weight: bold;
	align-self: center;
	margin-bottom: 3%;
}

#form input {
	margin-bottom: 3%;
	border-radius: 5px;
	width: 20em;
	padding: 3px;
	font-size: 13px;
	align-self: center;
	border-color: black;
	font-family: 'Conv';
}

#form button {
	text-transform: uppercase;
	align-self: center;
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
	background-color: hsl(77, 100%, 50%);
	border-radius: 3px;
	cursor: pointer;
}

button:hover {
	transform: scale(1.1);
}

#feature {
	display: grid;
	margin: 0 auto;
	width: 100%;
	padding-top: 9%;
	grid-template-columns: 60px 850px;
	grid-template-columns: auto-fill;
	grid-template-rows: 80px 90px 90px;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
}

.materials-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	color: darkorange;
}

.shipping-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	color: darkorange;
}

.quality-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	color: darkorange;
}

.materials {
	line-height: 1.5;
}

.shipping {
	line-height: 1.5;
}

.quality {
	line-height: 1.5;
}

#how-it-works {
	padding-top: 9%;
	display: flex;
	justify-content: center;
}

#pricing {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	margin: 0 auto;
	height: auto;
	padding-top: 10%;
	padding-bottom: 5%;
	justify-content: space-between;
	align-items: center;
}

.product {
	display: flex;
	flex-flow: row wrap;
	width: 270px;
	height: 300px;
	border: 2px solid black;
	justify-content: center;
	border-radius: 5px;
}

.product-name {
	text-transform: uppercase;
	background-color: lightgrey;
	height: 40px;
	width: 100%;
	text-align: center;
	padding-top: 3%;
	font-size: 18px;
}

#price {
	padding-bottom: 5%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

ul {
	margin-top: -10px;
	text-align: center;
	line-height: 2.0;
}

.btn {
	text-transform: uppercase;
	background-color: yellow;
	padding: 10px;
	margin-top: 20%;
	font-size: 14px;
	border-radius: 3px;
	font-weight: bold;
}

.footer {
	display: flex;
	width: 100%;
	justify-content: center;
	background-color: lightgrey;
	padding: 10px;
	text-align: center;
	line-height: 2;
}

a {
	text-decoration: none;
	color: black;
}

.footer-info {
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 0 5px 0 5px;
}

@media (max-width: 950px) {
	header {
		justify-content: center;
		flex-flow: column wrap;
		height: 140px;
	}

	#header-img {
		margin: 0 auto;
		padding-top: 0px;
	}

	nav {
		margin: 0 auto;
		padding-top: 25px;
	}

	#form {
		padding-top: 20%;
	}

	#feature {
		grid-template-columns: 1fr 4fr;
		grid-column-gap: 0px;
	}
}

@media (max-width: 700px) {
	.content {
		width: 700px;
	}

	#form {
		padding-top: 25%;
	}

	#feature {
		grid-template-columns: 60px 550px;
		grid-template-columns: auto-fill;
		grid-template-rows: 120px 130px 130px;
		grid-column-gap: 30px;
	}

	#pricing {
		flex-flow: column wrap;
	}

	.product {
		margin-bottom: 5%;
	}
}